.main {
  display: flex;
  min-width: -webkit-fill-available;
  align-items: center;
  flex-direction: column
}
.editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.compilerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compiler {
  background-color: #1e1e1e;
  border-radius: 20px
}
